* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

header {
    background-color: #286582;
    color: white;
    display: flex;
    position: fixed;
    padding: 15px 20px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.nom {
    font-weight: bold;
    font-size: large;
    color: #0f1316;
}
.couleurMardochee {
    color: white;
}

.nav-links {
    display: flex;
    gap: 25px;
}
.nav-links a {
    color: white;
    font-weight: bold;
    font-size: 14px;
    padding: 8px 12px;
}
.nav-links a:hover {
    color: #56b4f4;
}
/*Pour toutes les sections*/
section {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}
/* pour le corps de toutes les sections*/
.corps-page {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    min-height: 80vh;
}
/*pour toutes les titres de sections*/
.titre_section {
    color: #2c3e50;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin: 50px auto 30px;
}
/*Pour tous les boutons*/
.btn-fill {
    background-color: white;
    color: #0c4e7a;
    border: 2px solid #0c4e7a;
    font-size: 15px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 10px;
    margin-top: 15px;
}
.btn-fill:hover {
    background-color: #0c4e7a;
    color: white;
}

/*Section d'acceuil*/
.section-accueil {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    background-color: #9eb7c7;
}
.corps_text {
    text-align: center;
    font-size: 25px;       
    width: 100%;           
    max-width: 1000px;     
    margin: 0 auto;        
    padding: 20px;         
}
 /*Section a propos*/
.section-apropos {
    padding: 60px 0;
    background-color: #acb6bb;
}
.contenu-apropos {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    align-items: center;
    justify-content: center;
}
.description {
    flex: 1;
    min-width: 300px;
    margin-bottom: 15px;
}
.texte-description p {
    margin-bottom: 15px;
}
.photo-container{
    border-radius: 25%;
    border: 4px solid #0c4e7a;
    padding: 5px;
}
.photo {
    max-width: 310px;
    width: 100%;
    border-radius: 25%;
}

/* Section projets*/
.section-projet {
    padding: 60px 0;
    background-color: #9eb7c7;
}
.projets {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.lesBoites {
    background-color: white;
    border-radius: 10px;
    padding: 25px;
    width: 370px;
}
.lesBoites:hover {
    transform: translateY(auto);
}
.lesBoites h3 {
    color: #0c4e7a;
    margin-bottom: 5px;
}
.lesBoites h4 {
    color: #286582;
    margin-bottom: 10px;
    font-weight: normal;
}
.tags {
    color: #0c4e7a;
}

/* Section competences*/
.section-competences {
    padding: 60px 0;
    background-color: #acb6bb ;
}
.elements {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    gap: 15px;
}
.noms-competences {
    flex: 1;
    font-weight: bold;
}
.niveau-barre {
    flex: 2;
    height: 10px;
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
}
.niveau-rempli {
    height: 100%;
    background-color: #0c4e7a;
    border-radius: 5px;
}
.pourcentage {
    width: 40px;
    text-align: right;
    font-weight: bold;   
}

/*Section contact*/
.section-contact {
    padding: 60px 0;
    background-color: #9eb7c7;
}
.contact-form {
    width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
}                 
.noms-form{
    display: flex;
    gap:10px;
} 
label{
    padding: 80px;
}       
input {
    width: 48%;
    padding: 8px;
}       
textarea {
    height: 100px; 
    width: 100% ;
}

/*Pied de page*/
footer {
    background-color: #286582;
    color: white;
    position: fixed;
    display: flex;
    padding: 15px 20px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.social-icons {
    margin-bottom: 20px;
}
.social-icons a {
    color: white;
    margin: 0 15px;
    font-size: 20px;
}
.social-icons a:hover {
    color: #56b4f4;
}
/*Toutes ces methodes sont tirees de w3schools*/
/* j'ai modifier pied de page sur la classe de l'en-tete pour qu'ils sont uniformes
j'ai beaucoup utilse display:flex pour m'aider avec les boites et les groupes de texte
j'ai utiliser z-index pour l'importance de l'en-tete et le pied de page
j'ai beaucoup utilise les margin padding gap width par tattonnement pour dimmensionner les caractere sur la page
j'aime l'effet de survol des boutons en les remplissant donc j'ai utilise :hover {} rt j'ai alterne les couleurs
j'aime aussi l'effet de secouer les boites quand le curseur passe, donc j'ai utilise la declaration transform= tranlate avec y pour secouer ver le haut */